{% extends '../base.html' %}

{% block title %} Android Configuration {% endblock %}

{% load static %}
{% block content %}

	<!-- Download -->
	<div class="card mt-4">
		<div class="card-header">
			<h3>Download</h3>
		</div>
		<div class="card-body">
			<h5 class="card-title">V2rayNG Official Website</h5>
			<p class="card-text">For Android or HarmonyOS devices, V2RayNG is recommended. You can download it from the official website: <a href="https://www.linuxv2ray.com/client/android/" target="_blank">https://www.linuxv2ray.com/client/android/</a></p>
			<a href="https://www.linuxv2ray.com/client/android/" target="_blank" class="btn btn-primary">Redirect Link</a>
		</div>

		<div class="card-body">
			<h5 class="card-title">Download from GitHub</h5>
			<p class="card-text">GitHub Download Link: <a href="https://github.com/2dust/v2rayNG/releases" target="_blank">https://github.com/2dust/v2rayNG/releases </a>For beginners, it's advisable to download the stable version, typically indicated by the tag "Latest" following the version number.</p>
			<a href="https://github.com/2dust/v2rayNG/releases" target="_blank" class="btn btn-primary">Redirect Link</a>
		</div>
		<div class="card-body">
			<h5 class="card-title">Download from Google Play Store</h5>
			<p class="card-text">You can visit Google Play, which is Google's app store, and search directly for v2rayNG. Alternatively, you can open the app store link: <a href="https://play.google.com/store/apps/details?id=com.v2ray.ang" target="_blank">https://play.google.com/store/apps/details?id=com.v2ray.ang</a> Directly download and install online.</p>
			<a href="https://play.google.com/store/apps/details?id=com.v2ray.ang" target="_blank" class="btn btn-primary">Redirect Link</a>
		</div>
	</div>

	<!-- Install -->
	<div class="card mt-4">
		<div class="card-header">
			<h3>Installation</h3>
		</div>
		<div class="card-body">
			<p>Installing the application is straightforward. If you download it from the app store, simply follow the prompts to download and install. If you download it from the official website or other third-party sources, you'll receive a file named v2rayNG_x.x.x.apk, where .apk is the installation package for Android systems, and x.x.x represents the version number. After downloading, click on the file to install it.</p>
		</div>
	</div>

	<!-- Config -->
	<div class="card mt-4">
		<div class="card-header">
			<h3>Configuration</h3>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Step 1</h5>
							<img src="{% static 'users/img/android_config_1.jpeg' %}" class="card-img-top guide-image-height" alt="Android Config Step 1">
							<p class="card-text">Prepare to add node server information. Click the ➕ button at the top right corner of the app’s main interface to bring up the option to add a configuration file. Refer to the V2rayNG main interface shown above, and add different node server configuration files according to different nodes.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Step 2</h5>
							<img src="{% static 'users/img/android_config_2.jpeg' %}" class="card-img-top guide-image-height" alt="Android Config Step 2">
							<p class="card-text">You can import server node information either by scanning a QR code or by copying it from the clipboard.</p>
							<p class="card-text">The connection addresses for different protocols of node servers are as follows. Be sure to copy the complete link provided by your service provider.</p>
							<ul>
								<li><p class="card-text">VMESS server, namely v2Ray node address: vmess://</p></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-sm-6 mt-4">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Step 3</h5>
							<img src="{% static 'users/img/android_config_3.jpeg' %}" class="card-img-top guide-image-height" alt="Android Config Step 3">
							<p class="card-text">After importing the server, click on the "V" icon in the bottom right corner of the app's main interface.</p>
							<p class="card-text">The letter "V" icon initiates the proxy. Upon initial configuration, you will be prompted to create a proxy. Click "OK" to start, as shown in the screenshot below.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 mt-4">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Step 4</h5>
							<img src="{% static 'users/img/android_config_4.jpeg' %}" class="card-img-top guide-image-height" alt="Android Config Step 4">
							<p class="card-text">Once successfully started, the app icon in the bottom right corner of the main interface will change color to indicate successful startup, as shown in the screenshot below.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}