{% extends '../base.html' %}

{% block title %} iOS Configuration {% endblock %}

{% load static %}
{% block content %}

	<!-- Install -->
	<div class="card mt-4">
		<div class="card-header">
			<h3>Download</h3>
		</div>
		<div class="card-body">
			<h5 class="card-title">Shadowrocket</h5>
			<p class="card-text">Downloading Shadowrocket from the Apple App Store is recommended.</p>
		</div>

		<div class="card-body">
			<h5 class="card-title">V2BOX Download</h5>
			<p class="card-text">Users can also download V2Box as a replacement from the App Store, and the operation is similar like Shadowrocket.</p>
		</div>
	</div>

	<!-- Config -->
	<div class="card mt-4">
		<div class="card-header">
			<h3>Configuration</h3>
		</div>
		<div class="card-body">
			<p class="card-text">Let’s use Shadowrocket to demonstrate how to configure it.</p>
			<div class="row">
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Step 1</h5>
							<img src="{% static 'users/img/ios_config_1.jpeg' %}" class="card-img-top guide-image-width" alt="iOS Config Step 1">
							<p class="card-text">Download recommended App</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Step 2</h5>
							<img src="{% static 'users/img/ios_config_2.jpeg' %}" class="card-img-top guide-image-width" alt="iOS Config Step 2">
							<p class="card-text">Open the app and click on the upper left corner to scan the QR code, or click + in the upper right corner to add a server.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 mt-4">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Step 3</h5>
							<img src="{% static 'users/img/ios_config_3.jpeg' %}" class="card-img-top guide-image-width" alt="iOS Config Step 3">
							<p class="card-text">You can manually enter the server information here. It is generally recommended to import the server by scanning the QR code.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 mt-4">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Step 4</h5>
							<img src="{% static 'users/img/ios_config_4.jpeg' %}" class="card-img-top guide-image-width" alt="iOS Config Step 4">
							<p class="card-text">If you copied the server link using the clipboard, you will be prompted to import it when you open the app.</p>
							
						</div>
					</div>
				</div>
				<div class="col-sm-6 mt-4">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Step 5</h5>
							<img src="{% static 'users/img/ios_config_5.jpeg' %}" class="card-img-top guide-image-width" alt="iOS Config Step 5">
							<p class="card-text">After importing the server, click the button in the upper right corner to open the service, and there will be a VPN prompt in the prompt bar.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}