{% extends '../base.html' %}

{% block title %} iOS配置 {% endblock %}

{% load static %}
{% block content %}

	<!-- Install -->
	<div class="card mt-4">
		<div class="card-header">
			<h3>下载</h3>
		</div>
		<div class="card-body">
			<h5 class="card-title">Shadowrocket（小火箭）</h5>
			<p class="card-text">推荐在Apple Store下载Shadowrocket（小火箭）</p>
		</div>

		<div class="card-body">
			<h5 class="card-title">V2BOX 下载</h5>
			<p class="card-text">用户同样可以在App Store下载V2Box作为替换，操作和小火箭类似。</p>
		</div>
	</div>

	<!-- Config -->
	<div class="card mt-4">
		<div class="card-header">
			<h3>配置</h3>
		</div>
		<div class="card-body">
			<p class="card-text">下边用小火箭演示如何配置</p>
			<div class="row">
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">步骤1</h5>
							<img src="{% static 'users/img/ios_config_1.jpeg' %}" class="card-img-top guide-image-width" alt="iOS Config Step 1">
							<p class="card-text">下载推荐App</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">步骤2</h5>
							<img src="{% static 'users/img/ios_config_2.jpeg' %}" class="card-img-top guide-image-width" alt="iOS Config Step 2">
							<p class="card-text">打开应用，可以点击左上角扫描二维码，或右上角+添加服务器。</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 mt-4">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">步骤3</h5>
							<img src="{% static 'users/img/ios_config_3.jpeg' %}" class="card-img-top guide-image-width" alt="iOS Config Step 3">
							<p class="card-text">在这里可以手动输入服务器信息，一般都建议通过扫描二维码导入服务器。</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 mt-4">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">步骤4</h5>
							<img src="{% static 'users/img/ios_config_4.jpeg' %}" class="card-img-top guide-image-width" alt="iOS Config Step 4">
							<p class="card-text">如果用剪贴板复制了服务器链接，打开应用时会提示导入。</p>
							
						</div>
					</div>
				</div>
				<div class="col-sm-6 mt-4">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">步骤5</h5>
							<img src="{% static 'users/img/ios_config_5.jpeg' %}" class="card-img-top guide-image-width" alt="iOS Config Step 5">
							<p class="card-text">导入服务器后，点开右上角按钮打开服务后，提示栏有VPN提示。 </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}