{% extends '../base.html' %}

{% block title %} Windows Configuration {% endblock %}

{% load static %}
{% block content %}

	<!-- Download -->
	<div class="card mt-4">
		<div class="card-header">
			<h3>Download</h3>
		</div>
		<div class="card-body">
			<h5 class="card-title">V2rayN Download</h5>
			<p class="card-text">For Windows clients, V2rayN is recommended: <a href="https://v2rayn.org/v2rayn-download/" target="_blank">https://v2rayn.org/v2rayn-download/</a></p>
			<a href="https://v2rayn.org/v2rayn-download/" target="_blank" class="btn btn-primary">Redirect Link</a>
		</div>
	</div>

	<!-- Config -->
	<div class="card mt-4">
		<div class="card-header">
			<h3>Run and Configure</h3>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Step 1</h5>
							<img src="{% static 'users/img/windows_config_1.jpeg' %}" class="card-img-top guide-image-width" alt="Windows Config Step 1">
							<p class="card-text">After downloading the software package, decompress it and release it to the local hard disk. Select the v2rayN.exe file and double-click it to run.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Step 1 (Run as Administrator)</h5>
							<img src="{% static 'users/img/windows_config_2.jpeg' %}" class="card-img-top guide-image-width" alt="Windows Config Step 2">
							<p class="card-text">Double-click to run as a non-administrator, or right-click to run as an administrator.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 mt-4">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Step 2</h5>
							<img src="{% static 'users/img/windows_config_3.jpeg' %}" class="card-img-top guide-image-width" alt="Windows Config Step 3">
							<p class="card-text">Click the Server button</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 mt-4">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Step 3</h5>
							<img src="{% static 'users/img/windows_config_4.jpeg' %}" class="card-img-top guide-image-width" alt="Windows Config Step 4">
							<p class="card-text">The easiest way to add a server is from the clipboard or by scanning a QR code on the screen.</p>
							<p class="card-text">After successfully importing the server, find the v2rayN software icon in the system tray in the lower right corner. If you have imported multiple servers, you can choose to use them here.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}