Django==5.0.7
django-dal==1.0.0
django-crontab>=0.7.1
django-compressor>=4.5
fabric>=3.2.2
libsass>=0.23.0
openpyxl==3.0.10
pandas>=2.0.3
paramiko>=3.4.0
python-dotenv>=0.21.0
pytz>=2024.1
qrcode>=7.4.2
sqlparse>=0.4.4
django_compressor>=4.5
django-libsass>=0.9
django-autocomplete-light==3.11.0