<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="/">Link2Globe</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/service">Service</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/price">Price</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Configuration
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/ios_guide">iOS</a></li>
            <li><a class="dropdown-item" href="/android_guide">Android</a></li>
            <li><a class="dropdown-item" href='/mac_guide'>Mac</a></li>
            <li><a class="dropdown-item" href='/windows_guide'>Windows</a></li>
          </ul>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Profile</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/profile">Profile</a></li>
            <li><a class="dropdown-item" href="{% url 'payment_history' %}">Payment History</a></li>
            <li><a class="dropdown-item" href="/edit_profile">Edit Profile</a></li>
            <li class="nav-item">
              <form method="POST" action="{% url 'users:logout' %}">
                {% csrf_token %}
                <button type="submit" class="dropdown-item">Log out</button>
              </form>
            </li>
          </ul>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/login">Log in</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>