<div class="card mt-4">

	<div class="card-body">
		<div class="row">
			<div class="col-sm-4">
				<div class="card">
					<div class="card-body">
						<h3 class="card-title text-center">1 Month</h3>
						<p class="card-text price-highlight text-center">€19</p>
						<p class="card-text text-center">Every Month</p>
						<p class="card-text text-center">Each exclusive pure family IP.</p>
						<p class="card-text text-center paragraph-divider">Free 10GB of data per month</p>
						<p class="card-text text-center">€19 / Month</p>
					</div>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="card">
					<div class="card-body">
						<h3 class="card-title text-center">1 Year</h3>
						<p class="card-text price-highlight text-center">€15</p>
						<p class="card-text text-center">Every Month</p>
						<p class="card-text text-center">Each exclusive pure family IP.</p>
						<p class="card-text text-center paragraph-divider">Free 10GB of data per month</p>
						<p class="card-text text-center"><span class="text-decoration-line-through">€228 / Year</span></p>
						<p class="card-text text-center">€180 / Year</p>
					</div>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="card">
					<div class="card-body">
						<h3 class="card-title text-center">2 Year</h3>
						<p class="card-text price-highlight text-center">€12.5</p>
						<p class="card-text text-center">Every Month</p>
						<p class="card-text text-center">Each exclusive pure family IP.</p>
						<p class="card-text text-center paragraph-divider">Free 10GB of data per month</p>
						<p class="card-text text-center"><span class="text-decoration-line-through">€456 / Year</span></p>
						<p class="card-text text-center">€300 / Year</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row price-card">
			<div class="col-sm-4">
				<div class="card">
					<div class="card-body">
						<h3 class="card-title text-center">1 Month</h3>
						<p class="card-text price-highlight text-center">€99</p>
						<p class="card-text text-center">Every Month</p>
						<p class="card-text text-center">Each exclusive pure family IP.</p>
						<p class="card-text text-center">High-bandwidth, low-jitter live broadcast network.</p>
						<p class="card-text text-center paragraph-divider">Free 100GB of data per month</p>
						<p class="card-text text-center">€99 / Month</p>
					</div>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="card">
					<div class="card-body">
						<h3 class="card-title text-center">10 GB</h3>
						<p class="card-text price-highlight text-center">€3</p>
						<p class="card-text text-center">Every Month</p>
						<br>
						<br>
						<p class="paragraph-divider"></p>
						<p class="card-text text-center">€3 / Month / 10GB</p>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>