{% extends "../base.html" %}

{% load static %}

{% block title %} Service and product advantages {% endblock %}

{% block content %}

<div class="card mt-4">
	<div class="card-header">
		<h2>Service and Product Advantages</h2>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-sm-4">
				<div class="card">
					<div class="card-body">
						<img src="{% static 'users/img/highly_customizable.jpeg' %}" class="card-img-top service-image" alt="highly customizable">
						<h3 class="card-title">Customized On-demand</h3>
						<p class="card-text">We offer 1-on-1 architect services encompassing cloud migration consultation, technical guidance, architectural recommendations, and comprehensive technical support. Our seasoned architects tailor solutions specific to your needs, ensuring efficient, stable, and secure system operations, thereby facilitating your enterprise's digital transformation.</p>
					</div>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="card">
					<div class="card-body">
						<img src="{% static 'users/img/quick_response.jpeg' %}" class="card-img-top service-image" alt="quick response service">
						<h3 class="card-title">Real-time Operation and Maintenance Service</h3>
						<p class="card-text">We have a professional post-sales operations and maintenance team that promptly responds to customer needs, ensuring stable system operations. We provide round-the-clock monitoring and technical support, swiftly resolving issues, optimizing performance, ensuring business continuity, and maximizing customer profitability.</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card">
					<div class="card-body">
						<img src="{% static 'users/img/types_of_networks.jpeg' %}" class="card-img-top service-image" alt="all types of networks">
						<h3 class="card-title">Comprehensive Network Solutions</h3>
						<p class="card-text">We offer comprehensive product and server solutions tailored to various cross-border business needs such as live streaming and account maintenance. Our one-stop service precisely targets customer pain points, ensuring efficient and stable business operations to meet diverse customer requirements effectively.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-4">
			<div class="col-sm-6">
				<div class="card">
					<div class="card-header">
						<h4 class="text-center">Product Highlights</h4>
					</div>
					<div class="card-body">
						<div class="service-feature">
							<h5 class="text-primary">
								<i class="bi bi-check2-square"></i>
							 	Fast and Low Latency
							</h5>
							<p>Professional telecom international dedicated line, featuring low latency and fast access capabilities, ensuring speedy international access for TikTok live streaming.</p>
						</div>
						<div class="service-feature">
							<h5 class="text-primary">
								<i class="bi bi-check2-square"></i>
								Unrestricted Live Streaming
							</h5>
							<p>By leveraging professional telecom international dedicated lines and cloud acceleration technology, TikTok live streaming can operate without regional country restrictions. This allows us to conduct global business on TikTok anytime, anywhere.</p>
						</div>
						<div class="feature">
							<h5 class="text-primary">
								<i class="bi bi-check2-square"></i>
								Safe and Stable
							</h5>
							<p>Using dedicated native IP lines specific to each country, along with professional telecom international dedicated lines and cloud acceleration technology, ensures comprehensive handling of routing with security and stability. This guarantees a better operational experience for TikTok accounts, mitigating the risk of videos being shadow-banned or accounts being suspended.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="card">
					<div class="card-header">
						<h4 class="text-center">Product Advantages</h4>
					</div>
					<div class="card-body">
						<div class="service-feature">
							<h5 class="text-primary">
								<i class="bi bi-check2-square"></i>
							 	Dedicated Native IP Line with Exclusive Machine Usage
							</h5>
							<p>TikTok accounts use dedicated native IP lines and exclusive machines. Each account enjoys a one-to-one exclusive native IP corresponding to the account’s country, preventing account restrictions.</p>
						</div>
						<div class="service-feature">
							<h5 class="text-primary">
								<i class="bi bi-check2-square"></i>
								Stable and Fast
							</h5>
							<p>The overseas network dedicated line is stable and fast, with a telecom dedicated line for quick access to the international TikTok network, ensuring zero lag and supporting business growth.</p>
						</div>
						<div class="feature">
							<h5 class="text-primary">
								<i class="bi bi-check2-square"></i>
								Country Positioning
							</h5>
							<p>The TikTok accounts operate on corresponding country-specific lines, ensuring accurate country positioning for the account. This guarantees precise targeting for video promotion or live streaming traffic.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}