{% extends './base.html' %}

{% block title %}Log in{% endblock %}

{% block content %}
<h2>Login</h2>

{% if error_message %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{ error_message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

<form method="POST" novalidate>
    {% csrf_token %}

    <div class="form-floating mb-3">
        <input type="text" class="form-control {% if form.username.errors %}is-invalid{% endif %}" id="id_username" value="{{ username }}" name="username" placeholder="Username">
        <label for="id_username" class="form-label">Username</label>
        <div class="invalid-feedback">
            {% for error in form.username.errors %}
                {{ error }}
            {% endfor %}
        </div>
    </div>
    
    <div class="form-floating  mb-3">
        <input type="password" class="form-control {% if form.password.errors %}is-invalid{% endif %}" id="id_password" name="password" placeholder="password">
        <label for="id_password" class="form-label">Password</label>
        <div class="invalid-feedback">
            {% for error in form.password.errors %}
                {{ error }}
            {% endfor %}
        </div>
    </div>
    
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Log in</button>     
    </div>
    <div class="mb-3">
        <p>New User?<a href="/register" class="link-underline-primary link-offset-1"> Sign Up</a></p>
        <p>Forget Password?<a href="/reset_password" class="link-underline-primary link-offset-1"> Password Reset</a></p>
    </div>
</form>
    
{% endblock %}