{% extends './base.html' %}

{% block title %}Password Reset{% endblock %}

{% block content %}
<h2>Password Reset</h2>

{% if error_message %}
<div class="alert alert-danger" role="alert">
  {{ error_message }}
</div>
{% endif %}

{% if success_message %}
<div class="alert alert-success" role="alert">
  {{ success_message }}
</div>
{% endif %}

<form method="post">
  {% csrf_token %}
  <p class="mb-3">Please enter your username.</p>
  {{ form.username }}
  <button type="submit" class="btn btn-primary">Send reset link</button>
</form>

{% endblock %}