{% extends './base.html' %}

{% block title %}密码重置{% endblock %}

{% block content %}
<h2>密码重置</h2>

{% if error_message %}
<div class="alert alert-danger" role="alert">
  {{ error_message }}
</div>
{% endif %}

{% if success_message %}
<div class="alert alert-success" role="alert">
  {{ success_message }}
</div>
{% endif %}

<form method="post">
  {% csrf_token %}
  <p class="mb-3">请输入用户名</p>
  {{ form.username }}
  <button type="submit" class="btn btn-primary">发送重置链接</button>
</form>

{% endblock %}