{% extends "./base.html" %}

{% block title %} Sign Up {% endblock %}

{% block content %}
<h2>Sign Up</h2>

<form method="POST" novalidate>
    {% csrf_token %}
    <div class="form-floating mb-3">
        <input type="text" class="form-control {% if form.username.errors %}is-invalid{% endif %}" id="id_username" value="{{ username }}" name="username" placeholder="Username">
        <label for="id_username" class="form-label">Username</label>
        <div class="invalid-feedback">
            {% for error in form.username.errors %}
                {{ error }}
            {% endfor %}
        </div>
    </div>
    <div class="form-floating mb-3">
        <input type="email" class="form-control {% if form.email.errors %}is-invalid{% endif %}" id="id_email" value="{{ email }}" name="email" placeholder="name@example.com">
        <label for="id_email" class="form-label">Email</label>
        <div class="invalid-feedback">
            {% for error in form.email.errors %}
                {{ error }}
            {% endfor %}
        </div>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control {% if form.password1.errors %}is-invalid{% endif %}" id="id_password1" name="password1" placeholder="Enter Password">
        <label for="id_password1" class="form-label">Enter Password</label>
        <div class="invalid-feedback">
            {% for error in form.password1.errors %}
                {{ error }}
            {% endfor %}
        </div>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control {% if form.password2.errors %}is-invalid{% endif %}" id="id_password2" name="password2" placeholder="Confirm Password">
        <label for="id_password2" class="form-label">Confirm Password</label>
        <div class="invalid-feedback">
            {% for error in form.password2.errors %}
                {{ error }}
            {% endfor %}
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign Up</button>
</form>

{% endblock %}