/* users/static/users/scss/styles.scss */

html, body {
    height: 100%;
}

.guide-image-height {
    max-height: 600px;
    width: auto;
}

.guide-image-width {
    max-width: 600px;
    height: auto;
}

.service-image {
    max-width: 400px;
    height: 300px;
}

.service-feature {
    margin: 20px 0;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1;
}
.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
    margin-top: 40px;
}

#copied-message {
    display: none;
    color: blue;
    margin-top: 10px;
}

.price-highlight {
    color: green;
    font-size: 100px;
    font-weight: bold;
}

.paragraph-divider {
  border-bottom: 2px solid green; /* Adjust color and thickness as needed */
  padding-bottom: 1rem; /* Adjust spacing as needed */
  margin-bottom: 1rem; /* Adjust spacing as needed */
}

.price-card {
    margin-top: 30px;
}

.describe-icon {
    font-size: 50px;
}

.home-safe-image {
    width: 70%;
}

.vpn-description-image {
    max-width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-payment-custom {
    height: 70px; /* or any desired height */
    display: flex;
    align-items: center;
    justify-content: center;
}