/* users/static/users/scss/styles.scss */

html, body {
    height: 100%;
}

.guide-image-height {
    max-height: 600px;
    width: auto;
}

.guide-image-width {
    max-width: 600px;
    height: auto;
}

.service-image {
    max-width: 400px;
    height: 300px;
}

.service-feature {
    margin: 20px 0;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1;
}
.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
    margin-top: 40px;
}

#copied-message {
    display: none;
    color: blue;
    margin-top: 10px;
}